/**
*    CIGs awesome background. Thank you guys. - http://robertsspaceindustries.com/
*/
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url('fonts/Electrolize.woff2') format('woff2');
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
    font-family: 'Electrolize';
    background: url('img/background.jpg') repeat;
}
.grid {
    background: transparent url('img/gridbg_glow.png') repeat;
}

#containers {
    width: 99%;
}

/**
*    Not CIGs CSS stuff
*/
nav {
    float: left;
}
nav ul {
    text-align: center;
}
nav ul li {
    float: left;
    display: inline;
}
nav ul li a {
    display: block;
    padding: 15px 25px;
    color: #3fc9e1;
}
